@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('IRANSansWeb(FaNum)_Bold.eot');
	src: url('IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
	font-family: WYekan;
	font-style: normal;
	font-weight: 500;
	src: url('IRANSansWeb(FaNum)_Medium.eot');
	src: url('IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
	font-family: WYekan;
	font-style: normal;
	font-weight: 300;
	src: url('IRANSansWeb(FaNum)_Light.eot');
	src: url('IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
	font-family: WYekan;
	font-style: normal;
	font-weight: 200;
	src: url('IRANSansWeb(FaNum)_UltraLight.eot');
	src: url('IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: WYekan;
	font-style: normal;
	font-weight: normal;
	src: url('IRANSansWeb(FaNum).eot');
	src: url('IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('IRANSansWeb(FaNum).ttf') format('truetype');
}

h1,h2,h3,h4,h5,h6,p,body {
	font-family: WYekan !important;
	/*font-weight: 300;*/
}